<footer>
	<nav class = "round">
	<ul>
					<li> <%= link_to "Column1", "#" %> </li>
					<li> <%= link_to "Column2", "#" %> </li>
					<li> <%= link_to "Column3", "#" %> </li>
					<li> <%= link_to "Column4", "#" %> </li>
				</ul>

 </footer>